* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
li{list-style: none;}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1760px !important;margin: auto !important; }
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}

a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}  

p{
    margin-bottom: 0 !important;
}

.top_header
{
    background-color: #06194B;
    padding: 0;
}

.cnt
{
    color: white;
}

.social
{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.header
{
display:flex;
text-align:center;
align-items: center;
justify-content: space-around;
padding: 0 13px 0 0;

}

.header img
{
    width: 130px; 
    float: left;
}

.row
{
    display: flex;
    align-items: center;
    padding: 0;
}

.bt1
{
    padding: 8px 5px;
    border:2px solid #497CFF;
    color: #0048FF;
    border-radius: 6px !important;
    width: 32%;
    text-align: center;
    background-color: none;
    float: right;
    font-size: 12px;
}

.bt2
{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.menu_con
{
    background-color: #B7CBFF;
    padding: 17px;
    text-align: center;
    margin-top: -20px;
}

.menu
{
    font-weight:600;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.menu a
{
    color: black;
    text-decoration: none;  
    font-family: Arial, Helvetica, sans-serif;
}

.banner
{
position:relative;
width:100%;
padding:0 !important;
background: linear-gradient(to right,#06194B,rgb(13, 60, 177,0.3)), url("../IMG/banner_img.png");
height: 70vh;
background-repeat: no-repeat;
background-size: cover;
}

.banner_content
{
position:absolute;
top:50%;
left:10%;
transform:translateY(-50%);
font-family:arial;
}

.banner_content p
{
font-size:20px;
letter-spacing:2px;
padding-bottom:50px;
color:white;
}

.banner_content h1
{
font-size:70px;
line-height:70px;
margin-bottom:30px;
font-weight: 600;
color: white;
}

.banner_content .ph2
{
font-size:20px;
line-height:30px;
margin-bottom:30px;
color:black;
}

span
{
    color:#DC9704;
}

.icons 
{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100% !important;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 56%);
    border-radius: 20px;
    position:absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    bottom: -51px;
}

.icons 
{
    text-align: center;
    padding: 5px 0px;
}

.icons h2
{
    color: #0048FF;
    font-weight: bold;
    margin-top: 10px;
}