* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1760px !important;margin: auto !important; }
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}  

.header
{
display:flex;
text-align:center;
align-items: center;
margin-top: -20px !important;
}

.header img
{
    width: 150px; 
    float: left;
}

.bt1
{
    padding: 8px;
    border:2px solid #497CFF;
    color: #0048FF;
    border-radius: 6px !important;
    width: 23%;
    text-align: center;
    background-color: none;
    float: right;
}

.bt2
{
    padding: 8px;
    border:2px solid #497CFF;
    color: #0048FF;
    border-radius: 6px !important;
    width: 23%;
    text-align: center;
    background-color: none;
    float: right;
    margin-right: 10px;
}

.menu_con
{
    background-color: #B7CBFF;
    padding: 17px;
    text-align: center;
    margin-top: -20px;
}

.menu
{
    font-weight:600;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
}

.menu a
{
    color: black;
    text-decoration: none;  
    font-family: Arial, Helvetica, sans-serif;
}

.banner
{
    text-align: center;
}

.banner img
{
    width: 100%;

}

.banner_content h1
{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: 600;
}

span
{
    color:#DC9704;
}

.banner_content p
{
    font-size: 20px;
    font-weight: normal;
}

.bbt1
{
    padding: 10px;
    color: white;
    background-color: #497CFF;
    border: none !important;
    border-radius: 6px;
}

.bbt2
{
    padding: 10px;
    color:#497CFF ;
    background-color: white;
    border: none !important;
    border-radius: 6px;
}